@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css");

:root {
	/* - COLOR - */
	/* general */
	--background: #21252b;

	--text-color: #ffffff;

	/* heading */
	--heading-border: #000000;
	--content-divider: #000000;

	/* navigator */
	--navigator-heading-focus: #992c34;

	--navigator-extend-border: #b03634;
	--navigator-extend-background: #00000f; /* TODO */
	--navigator-extend-lines: #b03634;

	--navigator-item: #282c34;
	--navigator-item-hover: #181a1f;

	--navigator-extra-text: #ff4500;
	
	--navigator-divider: #999999;

	/* table of content */
	--toc-heading-border: #992c34;
	--toc-background-focus: #992c3466;

	/* CONTENT */
	/* header */
	--content-heading-border: #992c3489;

	/* content */
	--content-border-left: #992c3444;
	--content-border-left-focus: #992c34bb;
	--content-link: #008080e6;
	--content-link-focus: #005050;

	/* table */
	--table-heading-background: #b03434;
	--table-heading-text: #181a1f;
	--table-cell-background: #282c34;

	/* type / return */
	--property-background: #182127;
	--property-text: #dddddd;
	--property-highlight: #00808099;
	--property-highlight-value:#ff4500d0;
	--property-link: #bb2000;

	/* code */
	--code-extend: #992c3433;
	--code-extend-focus: #992c3466;
	--code-extend-line: #ffffff;

	/* action bar */
	--actionbar-background: #800000;
	--actionbar-cross: #333;

	/* lightdark */
	--lightdark: #ffffff;
	--lightdark-focus: #992c3466;

	/* index */
	--index-project-background: #282c34;
	--index-project-background-focus: #992c3466;

	/* - FONT - */
	--font: monospace;
}
