/* - GENERAL - */

* {
	margin: 0;
	padding: 0;
	font-family: var(--font);
	color: var(--text-color);
}

body {
	background: var(--background);
}

a {
	display: block;

	color: var(--text-color);
	text-decoration: none;
}

/* - MEDIA - */

@media only screen and (max-width: 800px) {
	/* cookies */
	.cookie-name {
		width: 100% !important;
		text-align: center;
	}

	.cookie-delete {
		margin: 0 25% !important;
		width: 50% !important;
	}

	.cookie {
		height: 100px !important;
		margin-bottom: 20px !important;
	}

	.action-content {
		font-size: 16px !important;
	}
}

/* - HEADER - */

#heading {
	display: block;

	margin: 14px 5% 10px;
	padding-bottom: 4px;
	box-sizing: border-box;

	border-bottom: 2px solid var(--heading-border);

	text-align: center;
	font-size: 35px;
	font-weight: 700;
}

#heading:hover {
	color: var(--heading-focus);
}

/* - PROJECTS - */

#projects {
	position: absolute;

	width: 80%;
	margin: 40px 10%;
	bottom: 50px;
	top: 71px;
	
	overflow-y: scroll;
	overflow-x: hidden;
}

#projects::-webkit-scrollbar {
	width: 0;
}

.project {
	display: block;

	width: 100%;
	padding: 25px 0;
	height: 25px;
	margin-bottom: 5px;

	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: var(--text-color);

	background: var(--index-project-background);

	cursor: pointer;
}

.project:last-child {
	margin: 0;
}

.project:hover {
	background: var(--index-project-background-focus);
}

/* - FOOTER - */

#footer {
	position: fixed;
	bottom: 0;

	box-sizing: border-box;
	border-top: 2px var(--heading-border) solid;

	height: 50px;
	left: 5%;
	right: 5%;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	z-index: 4;
}

#footer > * {
	height: 48px;
	padding: 7px 0;

	box-sizing: border-box;

	background: var(--background);

	color: var(--footer-color);
	font-size: 18px;
	text-align: center;
}

#footer > *:hover {
	background: var(--footer-background-focus);
}

#footer-background {
	position: fixed;
	
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	
	height: 50px;

	background: var(--background);
}

/* - COOKIES - */

#cookies {
	position: absolute;

	width: 80%;
	margin: 40px 10%;
	bottom: 50px;
	top: 71px;
	
	overflow-y: scroll;
	overflow-x: hidden;
}

#cookies::-webkit-scrollbar {
	width: 0;
}

.cookie {
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
}

.cookie:last-child {
	margin: 0;
}

.cookie > * {
	height: 50px;
	box-sizing: border-box;
	padding: 13px;
	font-size: 18px;
}

.cookie-name {
	float: left;

	width: 80%;

	/* background: #f5f5f5; */

	white-space: pre;
}

.cookie-delete {
	width: 20%;
	float: right;
	text-align: center;
	background: var(--cookie-delete);
	cursor: pointer;
}

.cookie-value {
	display: inline;
	color: var(--cookie-value);
}

.cookie-delete:hover {
	background: var(--cookie-delete-focus);
}

/* - LIGHTDARK - */

#lightdark {
	position: absolute;
	top: 8px;
	right: 10px;
	height: 44px;
	width: 44px;

	cursor: pointer;

	border-radius: 50%;
	box-shadow: inset 20px 0 var(--lightdark);
	background: none;
}

#lightdark:hover {
	box-shadow: inset 20px 0 var(--lightdark-focus);
}

/* - ACTION BAR - */

#action-bar {
	position: fixed;

	width: 100%;

	bottom: 0;
	left: 0;
	right: 0;
	z-index: 6;

	height: 2%;

	background-color: var(--actionbar-background);

	padding: 15px;

	display: none;
}

#action-bar .action-content {
	font-size: 20px;
	text-align: center;
}

#action-bar-close {
	position: absolute;

	right: 45px;
	top: 10px;
	width: 30px;
	height: 30px;
	opacity: 0.4;

	cursor: pointer;
}

#action-bar-close:hover {
	opacity: 1;
}

#action-bar-close:before, #action-bar-close:after {
	position: absolute;

	background-color: var(--actionbar-cross);
	
	left: 15px;
	height: 33px;
	width: 2px;

	content: ' ';
}

#action-bar-close:before {
	transform: rotate(45deg);
}

#action-bar-close:after {
	transform: rotate(-45deg);
}
