@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/solarized-light.min.css");

:root {
	/* - COLOR - */
	/* general */
	--background: #ffffff;

	--text-color: #000000;

	/* heading */
	--heading-border: #cccccc;
	--content-divider: #aaaaaa;

	/* navigator */
	--heading-focus: #0090a0;

	--navigator-extend-border: #000000;
	--navigator-extend-background: #ffffff;
	--navigator-extend-lines: #000000;

	--navigator-item: #f2f2f2;
	--navigator-item-hover: #d0d0d0;

	--navigator-extra-text: #008080;

	--navigator-divider: #dddddd;
	/* table of content */
	--toc-heading-border: #008080;
	--toc-background-focus: #00808033;

	/* CONTENT */
	/* header */
	--content-heading-border: #008080aa;

	/* content */
	--content-border-left: #00808033;
	--content-border-left-focus: #008080e6;

	--content-link: #008080e6;
	--content-link-focus: #005050;

	/* table */
	--table-heading-background: #008080;
	--table-heading-text: #f2f2f2;
	--table-cell-background: #f2f2f2;

	/* type / return */
	--property-background: #eeeeee;
	--property-text: #666666;

	--property-highlight: #aaa500;
	--property-highlight-value:#00808099;

	--property-link: #ff300099;
	--property-link-focus: #ff3000ee;

	/* code */
	--code-extend: #0080800d;
	--code-extend-focus: #00808033;
	--code-extend-line: #000000;

	/* lightdark */
	--lightdark: #333333;
	--lightdark-focus: #008080;

	/* footer */
	--footer-color: #333333;
	--footer-background-focus: #f2f2f2;

	/* action bar */
	--actionbar-background: #7fff00;
	--actionbar-cross: #333;

	/* index */
	--index-project-background: #f2f2f2;
	--index-project-background-focus: #00808033;

	/* cookies */
	--cookie-value: #0080a0;
	--cookie-delete: #ff00001a;
	--cookie-delete-focus: #ff000066;

	/* - FONT - */
	--font: monospace, Consolas;
}
