/* - GLOBAL - */

* {
	margin: 0;
	padding: 0;
	font-family: var(--font);
	color: var(--text-color);
}

body {
	background: var(--background);
}

/* - RESPONSIVE - */

@media only screen and (max-width: 800px) {
	/* navigator */

	#navigator {
		display: none;
		width: 30% !important;
	}

	/* table of content */

	#toc {
		grid-template-columns: 1fr;
	}

	/* doc */

	#doc {
		margin-left: 0;
		width: 100vw !important;
	}

	/* content */

	.table {
		width: 100%;
		font-size: 13.5px;
	}

	.five-table td, .five-table th {
		font-size: 11.5px;
	}
}

@media only screen and (min-width: 801px) {
	/* navigator */

	#navigator {
		display: block !important;
	}

	#extend-navigator {
		display: none !important;
	}

	#navigator-overlay {
		display: none !important;
	}

	/* doc */

	#doc {
		margin-left: 25%;
	}

	/* table of content */

	#toc {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}

	/* table */

	.table {
		width: 75%;
	}
}

/* - NAVIGATOR - */

/* general */

#navigator {
	position: fixed;
	top: 0;
	bottom: 50px;
	left: 0;
	z-index: 2;

	width: 25%;
	min-width: fit-content;
	padding: 12px 10px;

	box-sizing: border-box;

	background: var(--background);
}

a {
	display: block;

	color: var(--text-color);
	text-decoration: none;
}

/* navigator heading */

#navigator-heading, #doc-heading {
	display: block;

	margin: 2px 0 12px;
	padding-bottom: 4px;
	box-sizing: border-box;

	border-bottom: 2px solid var(--heading-border);

	font-size: 35px;
	font-weight: 700;
	text-align: center;
}

#navigator-heading:hover, #doc-heading:hover {
	color: var(--heading-focus);
}

/* navigator items */

#navigator-list {
	display: grid;
	gap: 5px;
	padding: 0 2px;
}

.navigator-item {
	font-size: 20px;
	text-align: left;

	padding: 15px 0 15px 15px;

	background: var(--navigator-item);
}

.navigator-item:hover {
	background-color: var(--navigator-item-hover);
}

.navigator-divider {
	height: 2.25px;
	margin: 7px 25%;

	background: var(--navigator-divider);
}

/* mobile */

#extend-navigator {
	position: fixed;
	left: 0;
	bottom: calc(50px + 1.2vh);

	display: grid;
	gap: 0;

	height: 7.5vh;
	width: 12vw;
	padding: 2%;
	box-sizing: border-box;

	border: var(--navigator-extend-border) 2px solid;
	border-left: none;
	border-radius: 0 10% 10% 0;

	background-color: var(--navigator-extend-background);

	cursor: pointer;
}

#extend-navigator div {
	width: 100%;
	box-sizing: border-box;

	border-top: var(--navigator-extend-lines) 1px solid;
	border-bottom: var(--navigator-extend-lines) 2px solid;
}

#extend-navigator div:first-child {
	border-top: var(--navigator-extend-lines) 2px solid;
	border-bottom: var(--navigator-extend-lines) 1px solid;
}

#navigator-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;

	display: none;

	width: 70%;

	background-color: var(--background);
	opacity: 0.8;

	cursor: pointer;
}

#navigator-border {
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 0;

	border-right: 2px solid var(--content-divider);
}

.navigator-extra {
	color: var(--navigator-extra-text) !important;
}

/* - DOC - */

#doc {
	width: 75%;
	margin-top: 13.5px;
	padding: 0 10px 50px;

	box-sizing: border-box;
}

#content {
	padding: 10px 20px 20px 20px;
}

/* - TABLE OF CONTENT - */

#toc {
	display: grid;
	gap: 10px;
	margin-bottom: 40px;
}

#toc .toc-item {
	height: fit-content;
	width: 100%;
}

#toc .toc-heading {
	margin: 0 0 4px 0;
	padding: 7px 0;

	border-bottom: 4px solid var(--toc-heading-border);

	box-sizing: border-box;

	font-size: 27px;
	text-align: center;
}

#toc .toc-content {
	display: grid;
}

#toc .toc-content a {
	display: block;
	padding: 3px 0;

	cursor: pointer;

	text-align: center;
	font-size: 17px;
	color: var(--text-color);
	text-decoration: none;

	transition: background 0.4s;
}

#toc .toc-content a:hover {
	background: var(--toc-background-focus);
}

/* CONTENT */

.constructor {
	font-weight: 900;
}

.sub-content {
	margin-bottom: 20px;
}

.sub-header {
	display: inline-block;

	margin-bottom: 20px;
	padding: 0 0 3px 2%;

	width: 50%;

	box-sizing: border-box;

	border-bottom: 3px solid var(--content-heading-border);

	font-size: 24px;
}

.sub-content-header {
	width: 100%;
	margin-bottom: 3px;

	text-align: left;
	font-size: 21px;
}

.sub-content-content {
	border-left: 3px solid var(--content-border-left);

	margin-top: 1px;
	padding: 2px 0 2px 7px;

	font-size: 15px;
}

.sub-content-content > div {
	font-size: 15px !important;
}

.sub-content-content a {
	display: inline;

	color: var(--content-link);
	text-decoration: none;
}

.sub-content-content a:hover {
	color: var(--content-link-focus);
}

.sub-content-content:hover {
	border-left: 3px solid var(--content-border-left-focus);
}

/* table */

.table {
	border-collapse: collapse;

	margin: 5px 0;
}

.table th, .table td {
	border: none;

	padding: 10px 5px;
	box-sizing: border-box;

	text-align: center;
}

.two-table th, .two-table td {
	width: 50%;
}

.three-table th, .three-table td {
	width: 25%;
}

.three-table th:last-child, .three-table td:last-child {
	width: 50%;
}

.four-table th, .four-table td {
	width: 25%;
}

.five-table th, .five-table td {
	width: 20%;
}

.table th {
	background-color: var(--table-heading-background);
	color: var(--table-heading-text);
}

.table td {
	background-color: var(--table-cell-background);
}

/* highlighting */

.property-type {
	display: inline-block;
	background-color: var(--property-background);
	margin-top: 4px;
	padding: 3px 4px;

	color: var(--property-text);
}

.property-highlight {
	display: inline;

	color: var(--property-highlight);
}

.property-value {
	display: inline;

	color: var(--property-highlight-value);
}

.property-link {
	display: inline;

	color: var(--property-link) !important;
}

.property-link:hover {
	color: var(--property-link-focus) !important;
}

/* code */

.extend-code {
	height: 20px;
	width: 80%;

	margin-top: 4px;
	background: var(--code-extend);

	text-align: center;

	cursor: pointer;
	margin: 4px 10% 0 10%;
}

.extend-code:hover {
	width: 100%;
	margin: 4px 0 0;

	background-color: var(--code-extend-focus);
}

.extend-code div {
	display: block;

	margin: 0 auto;

	width: 30px;
	height: 9px;
	border-bottom: 2px var(--code-extend-line) solid;
}

pre.hljs {
	box-sizing: border-box;
	display: none;

	padding-left: 12px;
	margin: 4px 0 0 0;

	user-select: none;
	cursor: pointer;
}

pre.hljs code {
	padding-left: 12px;
}

/* - LIGHTDARK - */

#lightdark {
	position: absolute;
	top: 8px;
	right: 10px;
	height: 44px;
	width: 44px;

	cursor: pointer;

	border-radius: 50%;
	box-shadow: inset 20px 0 var(--lightdark);
	background: none;
}

#lightdark:hover {
	box-shadow: inset 20px 0 var(--lightdark-focus);
}


/* - FOOTER - */

#footer {
	position: fixed;
	bottom: 0;

	height: 50px;
	left: 12px;
	right: 12px;

	box-sizing: border-box;
	border-top: 2px var(--heading-border) solid;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	z-index: 4;
}

#footer > * {
	height: 48px;
	padding: 11px 0;

	box-sizing: border-box;

	background: var(--background);

	color: var(--footer-color);
	font-size: 18px;
	text-align: center;
}

#footer > *:hover {
	background: var(--footer-background-focus);
}

#footer-background {
	position: fixed;

	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;

	height: 50px;

	background: var(--background);
}

/* - ACTION BAR - */

#action-bar {
	position: fixed;

	bottom: 0;
	left: 0;
	right: 0;
	z-index: 6;

	height: 2%;
	width: 100%;
	padding: 15px 0;

	background-color: var(--actionbar-background);

	display: none;
}

#action-bar .action-content {
	font-size: 20px;
	text-align: center;
}

#action-bar-close {
	position: absolute;

	right: 25px;
	top: 10px;
	width: 30px;
	height: 30px;

	opacity: 0.4;

	cursor: pointer;
}

#action-bar-close:hover {
	opacity: 1;
}

#action-bar-close:before, #action-bar-close:after {
	position: absolute;

	background-color: var(--actionbar-cross);

	left: 15px;
	height: 33px;
	width: 2px;

	content: '';
}

#action-bar-close:before {
	transform: rotate(45deg);
}

#action-bar-close:after {
	transform: rotate(-45deg);
}
